<div class="article-meta">
    <!-- <a href="{{ .RelPermalink }}" class="article-date"> -->
	<i class="fa fa-calendar fa-fw"></i>
        <time datetime='{{ .Date.Format "2006-01-02T15:04:05.000-07:00" }}' itemprop="datePublished">{{ .Date.Format "Mon Jan 2 2006" }}</time> &#8226; 
	<!-- </a> -->
	About {{ .ReadingTime }}-minute read {{ if .Params.author }}
	&#8226 Author(s): {{.Params.author}} {{ end }}
	
	{{ $Site := .Site }} {{ if .Params.categories }}<div class="post-categories">
            <div class="article-category">
		{{ range $i, $e := .Params.categories }}
		{{ if gt $i 0 }}
		<span>&gt;</span>
	    {{ end }}
	    <a class="article-category-link" href="{{ $Site.BaseURL }}/categories/{{ $e | urlize }}">{{ $e }}</a>
	    {{ end }}
        </div>
    </div>
    {{ end }}
    {{ if .Params.tags }}
    <div class="article-meta">
	<i class="fa fa-tags fa-fw"></i>
        {{ range .Params.tags }}
	<a class="article-tag-list-link" href="{{ $Site.BaseURL}}/tags/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
    </div>
    {{ end }}
    <!-- 			{{ if .Site.Params.disqusShortname }}
	 <div class="article-comment-link-wrap">
         <a href="{{ .RelPermalink }}#disqus_thread" class="article-comment-link">Comments</a>
	 </div>
	 {{ end }} -->
</div>

<!-- {{ if .Params.tags }}
     <ul class="article-tag-list">
     {{ range .Params.tags }}
     <li class="article-tag-list-item">
     <a class="article-tag-list-link" href="{{ $Site.BaseURL}}/tags/{{ . | urlize }}">{{ . }}
     </a>
     </li>
     {{ end }}
     </ul>
     </footer>
     {{ end }} -->		    
